body{

background:#eceff1;

font-family:Arial;

margin:0;

padding:20px;

}

.container{

max-width:500px;

margin:auto;

}

h1{

text-align:center;

}

.card{

background:white;

padding:15px;

margin-bottom:15px;

border-radius:12px;

box-shadow:0 0 10px rgba(0,0,0,.1);

}

.nilai{

font-size:20px;

font-weight:bold;

color:#1565c0;

}

.sta{

font-size:40px;

font-weight:bold;

text-align:center;

color:#2e7d32;

}

button{

width:100%;

padding:15px;

font-size:18px;

border:none;

background:#1976d2;

color:white;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#125ea8;

}

.status-info {
  font-size: 16px;
  font-weight: bold;
  color: #333
  margin-bottom: 15px;
}
